@font-face {
  font-family: Play-Bold;
  src: url(./font/Play-Bold.woff2) format('woff2');
}

@font-face {
  font-family: Roboto;
  src: url(./font/Roboto-VariableFont_wdth\,wght.woff2) format('woff2');
}

:root {
  --main-theme: rgb(31, 41, 55);
  --sub-theme: rgb(23, 104, 224);
  --white-theme: #f7f7ff;
  --light-blue-theme: rgb(177, 210, 255);
  --paragraph-theme: #777;
  --hover-theme: rgb(105, 165, 255);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: Play-bold, Roboto, Arial, sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header {
  background-color: var(--main-theme);
  border-bottom: 0.6rem dashed var(--light-blue-theme);
}

.header .inner {
  max-width: 96rem;
  height: 8rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: flex-end;
  gap: 0.2rem;
  font-size: 2.8rem;
  color: var(--white-theme);
  cursor: pointer;
}

.logo img {
  width: 4.8rem;
  height: auto;
  filter: invert(100%) sepia(39%) saturate(79%) hue-rotate(95deg) brightness(114%) contrast(95%);
}

.header ul {
  display: flex;
  gap: 2.8rem;
}

.header ul img {
  width: 3.6rem;
  height: auto;
  filter: invert(100%) sepia(39%) saturate(79%) hue-rotate(95deg) brightness(114%) contrast(95%);
}

.hero {
  background-color: var(--main-theme);
}

.hero .inner {
  max-width: 96rem;
  margin: 0 auto;
  display: flex;
  gap: 4.8rem;
  justify-content: space-between;
  align-items: center;
  height: 44rem;
}

.hero .description {
  flex: 1;
  color: var(--white-theme);
}

.hero h1 {
  font-size: 4.8rem;
  line-height: 1;
}

.hero p {
  margin: 2rem 0 3.6rem;
  font-size: 2.2rem;
  line-height: 1.5;
}

.hero button {
  background-color: var(--sub-theme);
  color: var(--white-theme);
  border: none;
  border-radius: 0.8rem;
  padding: 1.2rem 2.8rem;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
}

.hero button:hover {
  background-color: var(--hover-theme);
}

.hero .img-container {
  max-width: 48rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .img-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.info {
  padding-top: 5.6rem;
  height: 48rem;
  background-color: var(--light-blue-theme);
  border-bottom: 0.6rem dashed var(--main-theme);
}

.info h2 {
  margin-bottom: 4rem;
  font-size: 3.6rem;
  font-weight: 900;
  color: var(--main-theme);
  text-align: center;
}

.info ul {
  display: flex;
  justify-content: center;
  gap: 5.2rem;
}

.info li {
  width: 16rem;
  height: 16rem;
}

.info div {
  margin-bottom: 1.6rem;
  width: 100%;
  height: 100%;
  border: 0.4rem solid var(--white-theme);
  border-radius: 1.2rem;
}

.info div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.2rem;
  cursor: pointer;
}

.info div img:hover {
  opacity: 0.65;
}

.info p {
  color: var(--paragraph-theme);
  text-align: center;
  font-size: 1.8rem;
  font-family: Roboto, Arial, sans-serif;
}

.quote {
  background-color: #d1d1d7;
  box-shadow: inset 0 -2rem 2rem 0 rgba(0, 0, 0, 0.2);
}

.quote .inner {
  max-width: 78rem;
  height: 44rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote p {
  font-size: 3.6rem;
  font-weight: 200;
  font-style: italic;
  font-family: Roboto, Arial, sans-serif;
}

.quote .name {
  align-self: end;
  margin-right: 2.2rem;
  font-size: 2rem;
  font-weight: 700;
}

.sign-up {
  background-color: var(--main-theme);
  border-bottom: 0.6rem dashed var(--light-blue-theme);
  display: flex;
  align-items: center;
  height: 48rem;
}

.sign-up .inner {
  width: 96rem;
  height: 24rem;
  margin: 0 auto;
  background-image: linear-gradient(var(--light-blue-theme), var(--sub-theme));
  color: var(--white-theme);
  border-radius: 1.2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sign-up h3 {
  font-size: 3.2rem;
  margin-bottom: 0.8rem;
}

.sign-up p {
  font-size: 2rem;
}

.sign-up button {
  background-color: var(--sub-theme);
  color: var(--white-theme);
  border: 0.2rem solid var(--white-theme);
  border-radius: 0.8rem;
  padding: 1.2rem 2.8rem;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
}

.sign-up button:hover {
  background-color: var(--hover-theme);
}

.footer {
  background-color: var(--main-theme);
  height: 8rem;
}

.footer .inner {
  max-width: 96rem;
  height: 100%;
  margin: 0 auto;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-theme);
}
