@font-face {
  font-family: Play-Bold;
  src: url(./font/Play-Bold.woff2) format('woff2');
}

@font-face {
  font-family: Roboto;
  src: url(./font/Roboto-VariableFont_wdth\,wght.woff2) format('woff2');
}

:root {
  --dark-blue-theme: #1f2937;
  --blue-theme: #1768e0;
  --light-blue-theme: #b1d2ff;
  --button-hover-theme: #267dff;
  --white-theme: #f7f7ff;
  --light-gray-theme: #d1d1d7;
  --gray-theme: #777;
  --shadow-theme: rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Play-bold, Roboto, Arial, sans-serif;
}

html {
  font-size: 10px;
}

.header {
  display: flex;
  justify-content: center;
  padding: 4rem 0 2rem;
  background-color: var(--dark-blue-theme);
  border-bottom: 0.6rem dashed var(--light-blue-theme);
}

.header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 44rem;
}

.logo {
  display: flex;
  align-items: flex-end;
  gap: 0.2rem;
  font-size: 2.8rem;
  color: var(--white-theme);
  cursor: pointer;
}

.logo .icon,
.header-link-items .icon {
  filter: invert(100%) sepia(39%) saturate(79%) hue-rotate(95deg) brightness(114%) contrast(95%);
}

.logo .icon {
  width: 3.6rem;
}

.header-link-items {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}

.header-link-items .icon {
  width: 3.2rem;
  cursor: pointer;
}

.hero {
  display: flex;
  justify-content: center;
  padding: 8rem 0;
  background-color: var(--dark-blue-theme);
}

.hero .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 44rem;
}

.hero-description-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--white-theme);
}

.hero-title {
  font-size: 3.4rem;
}

.hero-description-container .description {
  margin: 2.4rem 0 3.6rem;
  font-size: 2.2rem;
  line-height: 1.5;
}

.hero .sign-up-btn {
  align-self: center;
  padding: 1.2rem 2.8rem;
  font-weight: 600;
  font-size: 2rem;
  color: var(--white-theme);
  background-color: var(--blue-theme);
  border: 0.2rem solid var(--white-theme);
  border-radius: 0.8rem;
  cursor: pointer;
}

.hero .sign-up-btn:hover {
  background-color: var(--button-hover-theme);
}

.hero-img-container {
  padding: 2rem 0;
}

.hero-img-container .photo {
  width: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: center;
  padding: 8rem 0;
  background-color: var(--light-blue-theme);
  border-bottom: 0.6rem dashed var(--dark-blue-theme);
}

.info .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 44rem;
}

.info-title {
  font-weight: 900;
  margin-bottom: 5.2rem;
  font-size: 3.2rem;
  color: var(--dark-blue-theme);
}

.info-list-items {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 6rem 4.8rem;
  list-style-type: none;
}

.info-list-items li {
  width: 16rem;
}

.info-list-items figure {
  width: 100%;
  height: 16rem;
  margin-bottom: 2rem;
}

.info-list-items .photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 0.4rem solid var(--white-theme);
  border-radius: 1.2rem;
  cursor: pointer;
}

.info-list-items .description {
  text-align: center;
  font-size: 1.8rem;
  font-family: Roboto, Arial, sans-serif;
  color: var(--gray-theme);
}

.quote {
  display: flex;
  justify-content: center;
  padding: 8rem 0;
  background-color: var(--light-gray-theme);
  box-shadow: inset 0 -2rem 2rem var(--shadow-theme);
}

.quote .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  width: 44rem;
}

.quote .description {
  font-style: italic;
  font-weight: 200;
  font-size: 3.2rem;
  line-height: 1.6;
  font-family: Roboto, Arial, sans-serif;
}

.quote .author {
  align-self: end;
  font-weight: 700;
  font-size: 2.2rem;
}

.sign-up {
  display: flex;
  justify-content: center;
  padding: 8rem 0;
  background-color: var(--dark-blue-theme);
  border-bottom: 0.6rem dashed var(--light-blue-theme);
}

.sign-up .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  width: 40rem;
  padding: 4rem 2rem;
  color: var(--white-theme);
  background-image: linear-gradient(var(--light-blue-theme), var(--blue-theme));
  border-radius: 1.2rem;
}

.sign-up-description-container {
  text-align: center;
}

.sign-up-title {
  margin-bottom: 2rem;
  font-size: 3rem;
}

.sign-up-description-container .description {
  font-size: 2rem;
}

.sign-up .sign-up-btn {
  padding: 1.2rem 2.8rem;
  font-weight: 600;
  font-size: 2rem;
  color: var(--white-theme);
  background-color: var(--blue-theme);
  border: 0.2rem solid var(--white-theme);
  border-radius: 0.8rem;
  cursor: pointer;
}

.sign-up .sign-up-btn:hover {
  background-color: var(--button-hover-theme);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  padding: 4rem 0 6rem;
  background-color: var(--dark-blue-theme);
}

.footer .description,
.footer .link {
  font-size: 1.8rem;
  color: var(--white-theme);
}

.footer .link {
  text-decoration: none;
}
.footer .link:hover {
  text-decoration: underline;
}
/* For smartphones in portrait mode */
@media screen and (orientation: portrait) {
  html {
    font-size: 6.5px;
  }
}

@media screen and (orientation: portrait) and (min-width: 22.5em) {
  html {
    font-size: 7.5px;
  }
}

@media screen and (orientation: portrait) and (min-width: 23.4em) {
  html {
    font-size: 7.75px;
  }
}

@media screen and (orientation: portrait) and (min-width: 24.3em) {
  html {
    font-size: 8px;
  }
}

@media screen and (orientation: portrait) and (min-width: 25.75em) {
  html {
    font-size: 8.25px;
  }
}

@media screen and (orientation: portrait) and (min-width: 26.75em) {
  html {
    font-size: 8.5px;
  }
}
/* For tablets in portrait mode */
@media screen and (orientation: portrait) and (min-width: 48em) {
  html {
    font-size: 10px;
  }

  .sign-up .inner {
    width: 48rem;
    padding: 4rem 6rem;
  }
}
/* For smartphones in landscape mode */
@media screen and (orientation: landscape) {
  html {
    font-size: 6.5px;
  }

  .header .inner,
  .hero .inner,
  .info .inner,
  .quote .inner {
    width: 84rem;
  }

  .header .inner {
    justify-content: space-between;
  }

  .hero .inner {
    flex-direction: row;
  }

  .hero-title,
  .hero-description-container .description
   {
    width: 44rem;
  }

  .hero-img-container {
    width: 38rem;
  }

  .info-list-items {
    display: flex;
    justify-content: center;
  }

  .sign-up .inner {
    flex-direction: row;
    justify-content: space-between;
    width: 64rem;
    padding: 6rem;
  }

  .sign-up .sign-up-btn {
    width: 18rem;
  }
}

@media screen and (orientation: landscape) and (min-width: 41.6em) {
  html {
    font-size: 7.5px;
  }
}

@media screen and (orientation: landscape) and (min-width: 46.25em) {
  html {
    font-size: 7.75px;
  }
}

@media screen and (orientation: landscape) and (min-width: 50em) {
  html {
    font-size: 8px;
  }
}

@media screen and (orientation: landscape) and (min-width: 55.75em) {
  html {
    font-size: 8.25px;
  }
}

@media screen and (orientation: landscape) and (min-width: 58em) {
  html {
    font-size: 8.5px;
  }
}
/* For tablets in landscape mode, laptops and desktops */
@media screen and (orientation: landscape) and (min-width: 64em) {
  html {
    font-size: 10px;
  }
}
