@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: Roboto, Arial, sans-serif;
}

.header {
  background-color: #1f2937;
}

.header .inner {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.header .logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 700;
}

.header ul {
  display: flex;
  gap: 24px;
}

.header a {
  font-size: 18px;
  color: #e5e7eb;
}

.hero {
  background-color: #1f2937;
}

.hero .inner {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  gap: 48px;
  justify-content: space-between;
  align-items: center;
  height: 440px;
}

.hero .description {
  flex: 1;
}

.hero h1 {
  font-size: 48px;
  color: #f9faf8;
}

.hero p {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 16px;
}

.hero button {
  background-color: #3883f6;
  color: #f9faf8;
  border: none;
  border-radius: 8px;
  padding: 8px 32px;
  font-size: 18px;
  font-weight: 700;
}

.hero .img-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: gray;
  color: #e5e7eb;
}

.info {
  height: 400px;
}

.info h2 {
  margin: 48px 0;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
}

.info ul {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.info li {
  max-width: 156px;
}

.info .box {
  margin-bottom: 12px;
  width: 100%;
  height: 156px;
  border: 4px solid #3883f6;
  border-radius: 12px;
}

.info p {
  color: #777;
  text-align: center;
}

.quote {
  background-color: #e5e7eb;
}

.quote .inner {
  max-width: 780px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 360px; 
}

.quote p {
  font-size: 36px;
  font-weight: 200;
  font-style: italic;
}

.quote .name {
  align-self: end;
  margin-right: 40px;
  font-size: 20px;
  font-weight: 700;
}

.sign-up {
  display: flex;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  height: 300px;
}

.sign-up .inner {
  width: 100%;
  background-color: #3883f6;
  border-radius: 8px;
  height: 140px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sign-up h3 {
  color: #f9faf8;
  margin-bottom: 4px;
}

.sign-up p {
  color: #e5e7eb;
}

.sign-up button {
  background-color: #3883f6;
  color: #f9faf8;
  border: 2px solid #f9faf8;
  border-radius: 8px;
  padding: 8px 32px;
  font-size: 16px;
  font-weight: 700;
}